
.icon{
    height: 200px;
    width: 200px;
}
.icon-c{
    height: 150px;
    width: 150px;
}
.no-style{
	border: none;
	background: none;
	outline-style: none;
}
.no-margin{
	margin: 0px 0px;
	padding: 0px 0px;
}
#rs{
	font-weight: bold;
	font-size: 18px;
	padding: 0px 10px;
}
.win{
	color: green;
}
.loose{
	color: red;
}
.draw{
	color: orange;
}
.col-xs-2 {
    width: 14%;
}
#play-again{
	font-weight: bold;
	font-size: 16px;
	padding: 0px 10px;
}
#content{
	margin-top: 10px;
	margin-bottom: 10px;	
}	