
.icon{
    height: auto;
    width: 200px;
}
.icon-c{
    max-width: 100%;
    height: auto;
    width: auto\9;
}
.no-style{
	border: none;
	background: none;
	outline-style: none;
}

#rs{
	font-weight: bold;
	font-size: 2em;
	
}
.win{
	color: green;
}
.loose{
	color: #E23237;
}
.draw{
	color: orange;
}

#play-again{
	font-weight: bold;
	font-size: 1em;
	
}
#content{
	margin-top: 10px;
	margin-bottom: 10px;	
}	